.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.content {
  max-width: 1192px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.navigation {
  color: var(--gray-for-content-500, #718096);
  font-family: Manrope;
  font-size: var(--Text-M-Regular-Size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Text-M-Regular-Line-Height, 24px);
  letter-spacing: var(--Text-M-Regular-Letter-Spacing, 0px);
}
.title {
  color: var(--gray-for-content-800, #1A202C);
  font-family: Manrope;
  font-size: var(--Heading-3XL-Bold-Size, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Heading-3XL-Bold-Line-Height, 40px);
  letter-spacing: var(--Heading-3XL-Bold-Letter-Spacing, -1px);
}
.icon_container {
  display: inline-flex;
  align-items: center;
  gap: 9px;
}
.icon {
  display: flex;
  cursor: pointer;
  position: relative;
  width: 44px;
  height: 44px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--gray-alpha-for-backgrounds-borders-200, rgba(113, 128, 150, 0.08));
}
.active {
  background: var(--gray-for-content-700, #2D3748);
}
.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px
}
.right_section {
  max-width:792px;
  display: flex;
  flex-direction: column;
  column-gap: 8px;
}
.right_header {
  display: flex;
  height: 44px;
  max-width: 792px;
  width: 100%;
  padding: 0px var(--Paddings-M, 12px);
  justify-content: space-between;
  align-items: center;
}
.right_header > p {
  color: var(--gray-for-content-500, #718096);
  font-family: var(--Family-Nunito, Nunito);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: var(--Text-M-Regular-Letter-Spacing, 0px);
} 

.right_header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right_header > div > span {
  color: var(--gray-for-content-400, #A0AEC0);
  font-family: var(--Family-Nunito, Nunito);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: var(--Text-M-Regular-Letter-Spacing, 0px);
}
.right_header > div > p {
  display: flex;
  height: 44px;
  padding: 6px 0px;
  gap: 8px;
  align-items: center;
  color: var(--gray-for-content-700, #2D3748);
  font-family: var(--Family-Nunito, Nunito);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: var(--Text-M-Regular-Letter-Spacing, 0px);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.vertical_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.footer {
  width: 100%;
  height: 540px;
  background: var(--gray-for-content-800, #1A202C);
}

@media screen and (max-width: 830px) {
  .left_section{
    display: none
  }
  .page {
    display: flex;
    width: 830px;
    padding: 0px var(--Section-margins-margin-right, 16px) 0px var(--Section-margins-margin-left, 16px);
    flex-direction: column;
    align-items: center;
  }
}